@import url('https://fonts.cdnfonts.com/css/lato');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
}

.header {
  box-shadow: 0px 4px 8px rgba(255, 0, 184, 0.4);
  position: relative
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

p {
  font-size: 24px;
}

span {
  font-size: 18px;
}

.btn,
.get-started-button {
  background: linear-gradient(90deg, #FF00B8 -4.21%, #6905B8 100%);
}

.polygon-bg {
  background-image: url(./assets/images/polygon1.png);
  background-repeat: no-repeat;
}

#suspense .loader,
#suspense .loader:before,
#suspense .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

#suspense .loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

#suspense .loader:before,
#suspense .loader:after {
  content: '';
  position: absolute;
  top: 0;
}

#suspense .loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

#suspense .loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}